.profile__edit-button {
    min-width: 24px;
    min-height: 24px;
    order: 2;
    transform: translateY(3px);
    border: 1px solid white;
    background-color: #000000;
    background-image: url(../../../image/Vector.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .profile__edit-button {
        min-width: 18px;
        min-height: 18px;
        transform: translateY(-5px);
        align-self: flex-end;
    }
}
