.content {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
@media screen and (max-width: 660px) {
    .content{
        row-gap: 36px;
    }
}