.header__logo {
    width: 100%;
    height: 33px;
    box-sizing: border-box;
    position: relative;
    background-image: url(../../../image/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.header__logo::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -41px;
    background-color: #545454;
    height: 1px;
}
@media screen and (max-width: 660px) {
    .header__logo {
        width: calc(100% - 27px);
        margin-left: 27px;
        max-height: 25px;
        background-image: url(../../../image/logo_small.svg);
    }
    .header__logo::after{
        left: -27px;
        bottom: -32px;
        max-width: 660px;
    }
}