.popup__heading {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    align-self: start;
}
.popup__heading_unpaused {
    animation-name: from_image_to_none;
    animation-duration: 0.4s;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}