.element__place-name {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width: 844px) {
    .element__place-name {
        font-size: 18px;
    }
}