.content__section {
    padding: 0 200px;
}

@media screen and (max-width: 1160px) {
    .content__section {
        padding: 0 120px;
    }
}
@media screen and (max-width: 1080px) {
    .content__section {
        padding: 0 72px;
    }
}

@media screen and (max-width: 844px) {
    .content__section {
        padding: 0 15px;
    }
}

@media screen and (max-width: 660px) {
    .content__section {
        padding: 0 19px;
    }
}


