.popup__form_profile {
    width: 430px;
    height: 330px;
    padding: 34px 36px 37px;
}

@media screen and (max-width: 660px) {
    .popup__form_profile{
        width: 282px;
        height: 332px;
        padding: 25px 22px;
    }
}