.popup__swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 75vh;
    position: relative;
}
@media screen and (max-width: 660px) {
    .popup__swiper {
    min-width: 310px;
    height: 75vh;
    }
}