@keyframes from_image_to_none {
   from {
      max-width: 75vw;
      max-height: 75vh;
      font-size: 16px;
   }
   to {
      max-width: 0;
      max-height: 0;
      font-size: 0;
   }
 }

.popup__image {
   max-width: 75vw;
   max-height: 75vh;
   /* min-width: 300px;
   min-height: 300px; */
   display: block;
   object-fit: cover;
}
.popup__image_unpaused {
   animation-name: from_image_to_none;
   animation-duration: 0.4s;
   animation-direction: reverse;
   animation-timing-function: ease-in;
   animation-iteration-count: 1;
}
@media screen and (max-width: 660px) {
   .popup__image {
   min-width:310px;
   height: 70vh;
   }
}