.popup__close-button {
    min-width: 32px;
    height: 32px;
    border: none;
    background-image: url(../../../image/Close.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: 0.3s;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close-button:hover {
    opacity: 0.5;
    cursor: pointer;
}